html {
    font-family: monospace;
    margin: 0 auto;
    width: 95%;
}

/* Subheaddings */
header p, header a, header h2 {
    text-align: center;
    margin: 0;
}

header {
    text-align: center;
    margin: 1em;
}

img {
    width: 100%
}

p {
    text-align: justify;
}

@media only screen and (min-width: 600px) {
    html {
        width: 560px;
        font-size: 150%;
        
    }
}

@media only screen and (min-width: 1200px) {
    html {
        width: 800px;
        font-size: 150%;
    }
}